import { IInjectedFormProps } from "@stembord/state-forms";
import { default as React } from "react";
import { FormattedMessage } from "react-intl";
import { Button, Form } from "reactstrap";
import { TextField } from "{{backPath}}/components/shared/forms/TextField";
import { injectForm } from "{{backPath}}/stores/lib/forms";

export interface I{{name}}Values {
  field: string;
}

export interface I{{name}}Props extends IInjectedFormProps<I{{name}}Values> {}
export interface I{{name}}State {}

const {{name}}InjectForm = injectForm<I{{name}}Values>({
  changeset: changeset => changeset
});

class {{name}}Impl extends React.PureComponent<
  I{{name}}Props,
  I{{name}}State
> {
  constructor(props: I{{name}}Props) {
    super(props);

    this.state = {};
  }
  onSubmit = (e: React.FormEvent) => {
    e.preventDefault();

    if (this.props.valid) {
      const formData = this.props.getFormData();
    }
  };
  render() {
    const { Field } = this.props;

    return (
      <Form onSubmit={this.onSubmit}>
        <Field name="field" Component={TextField}/>
        <Button 
          type="submit" 
          disabled={!this.props.valid} 
          onSubmit={this.onSubmit}
        >
          <FormattedMessage id="forms.submit"/>
        </Button>
      </Form>
    );
  }
}

export const {{name}} = {{name}}InjectForm({{name}}Impl);
