import { default as React } from "react";
import { connect } from "{{backPath}}/lib/state";

export interface I{{name}}StateProps {}
export interface I{{name}}FunctionProps {}
export interface I{{name}}ImplProps extends I{{name}}Props, I{{name}}StateProps, I{{name}}FunctionProps {}

export interface I{{name}}Props {}
export interface I{{name}}State {}

const {{name}}Connect = connect<
    I{{name}}StateProps, 
    I{{name}}FunctionProps, 
    I{{name}}Props
>(
    (state, ownProps) => ({}),
    (state, ownProps, stateProps) => ({})
);

class {{name}}Impl extends React.PureComponent<I{{name}}ImplProps, I{{name}}State> {
    constructor(props: I{{name}}ImplProps) {
        super(props);

        this.state = {};
    }
    render() {
        return (
            <div />
        );
    }
}

export const {{name}} = {{name}}Connect({{name}}Impl);