// Colors
$primary: #007bff;
$secondary: #868e96;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$spacer: 0.75rem;
$enable-rounded: false;

// Buttons
$input-btn-padding-x: $spacer;
$input-btn-padding-y: $spacer;
$input-btn-padding-x-sm: $spacer * 0.5;
$input-btn-padding-y-sm: $spacer * 0.5;
$input-btn-padding-x-lg: $spacer * 2;
$input-btn-padding-y-lg: $spacer * 2;

// Gird
$grid-gutter-width: 12px;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 720px,
  lg: 1040px
);

$container-max-widths: (
  sm: 416px,
  md: 656px,
  lg: 976px
);

// Cards
$card-spacer-x: $spacer;
$card-spacer-y: $spacer;
